/**************************************************************************
 *                  Header                                                *
 **************************************************************************/

 header {
    width: 100%;
    height: $height-header;
    background: var(--sfondo-scuro);
    color: var(--text-color);
}

header .logo {
    height: $height-logo;
}