/**************************************************************************
 *                  Main                                                  *
 **************************************************************************/

.cd {
    height: $height-card;
    background: var(--height-card);
    text-align: center;
}

.cd img {
    max-width: 100%;
}

.cd h3 {
    color: white;
    font-size: $text-title-card;
    text-transform: uppercase;
}

.cd span.author {
    color: var(--text-color-card);
    font-size: $text-info-card;
}

.cd span.year {
    color: var(--text-color-card);
}