/**************************************************************************
 *                  Ricerca                                               *
 **************************************************************************/

section{
    font-size: var(--text-size);
}

section input{
    font-size: var(--text-size);
}

section select{
    font-size: var(--text-size);
}